.app {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
  border-radius: 50px;
  width: 1440px;
  min-width: 320px;
  min-height: 750px;
  box-shadow:
    -5px -5px 20px rgba(255, 255, 255, 0.1),
    5px 5px 10px rgba(0, 0, 0, 1),
    inset -2px -2px 5px rgba(255, 255, 255, 0.1),
    inset 2px 2px 5px rgba(0, 0, 0, 0.5),
    0 0 0 2px #1f1f1f;
  background-color: #414141;
}
