@import '~normalize.css';

body {
  font-family: 'Roboto Mono', 'Arial', 'Helvetica', sans-serif;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  background-color: #313131;
}

@media screen and (min-width: 829px) {
  #root {
    height: 100vh;
  }
}
