@import '~normalize.css';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', 'Arial', 'Helvetica', sans-serif;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  max-height: 100%;
  background-color: #313131;
}
